<!doctype html>
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title My Blog Posts!
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/css/style.css?v=1", :rel => "stylesheet"}/
  %body
    #container
      %header
      #main
      - form_for @post, url(:post, :update, :id => @post['_id']), :method => :put do |f|
        .group
          =f.label :name
          =f.text_field :name, :value => @post['name']
        .group
          =f.label :author
          =f.text_field :author, :value => @post['author']
        .group
          =f.label :body
          =f.text_area :body, :value => @post['body']
        .group
          =f.submit
      %footer
    / ! end of #container
