<!doctype html>
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title My Blog Posts!
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/css/style.css?v=1", :rel => "stylesheet"}/
  %body
    #container
      %header
      #main
      -if @posts.empty?
        %h1 No posts found
      -else
        %table.table
          %tr
            %th Name
            %th Author
            %th Body
            %th Operation
          -@posts.each do |post|
            %tr
              %td= post["name"]
              %td= post["author"]
              %td= post["body"]
              %td= link_to "edit", url(:post, :edit, :id => post["_id"])

      %footer
    / ! end of #container
